html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
  }

.btn-sm {
    padding: .25rem;
    font-size: .65rem;
}

.list-group-item {
    padding: 1rem 4rem 1rem 4rem;
}

.containerChild {
    margin: auto;
    background-color: white;
    width: fit-content;
}

input {
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
    color: #0d0d0d;
    margin-bottom: 25px;
    padding: 6px 32px;
    text-align: center;
}