html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
  }

.btn-sm {
    padding: .20rem;
    font-size: .55rem;
}

.list-group-item {
    padding: 1rem 4rem 1rem 4rem;
}

.containerChild {
    margin: auto;
    background-color: white;
    width: fit-content;
}

input {
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
    color: #0d0d0d;
    margin-bottom: 25px;
    padding: 6px 32px;
    text-align: center;
}

.btn-list-edit, .btn-list-delete {
    padding: 0px 8px 0px 8px;
    font-size: x-small;
}

.btn-list-delete:hover {
    background-color: white;
    border-color:#c70000;
    color:#c70000;
}

.btn-list-edit:hover {
    background-color: white;
    border-color:#12a390;
    color:#12a390;
}

.bg-color-teclab {
    background-color: rgba(39,130,187,255);
}

input:focus {
    background-color: #fff;
    border: 2px solid #f6f6f6;
    border-bottom: 2px solid rgba(39,130,187,255);
    opacity: 0.7;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.card {
    width: 18rem;
}