html,body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

.bg-color-teclab {
    background-color: rgba(39,130,187,255);
}

.btn-rounded {
    color: white;
    border-radius: 50%;
    bottom:2.5rem;
    display:block;
    font-weight: bold;
    font-size: xx-large;
    height: 50px;
    opacity: 70%;
    position:fixed;
	right:3.5rem;
    width: 50px;
}

.btn-rounded:hover {
    opacity: 100%;
}

.modal-header {
    color: white;
}

.logo {
    width: 50%;
}

.card {
    width: 18rem;
}

.alert {
    font-size: 0.9rem;
    display:inline-block;
}

.btn-list-edit, .btn-list-delete {
    padding: 0px 8px 0px 8px;
    font-size: x-small;
}